main {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  max-width: 960px;
  padding-inline: 1.5rem;
  position: relative;
  transition: filter 0.5s ease-in-out;

  article {
	margin: 2em 0.5em;

	h3 {
	  color: $c-brand;
	  font-size: 1.5rem;
	  font-style: normal;
	  font-weight: 600;
	  letter-spacing: .5px;
	  margin-bottom: 0.85em;
	}

	p {
	  font-size: 0.95rem;
	  line-height: 1.8;
	}
  }
}

/// Styles for the navigation.
.navigation-container {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  padding: 1.5em 1em 2.5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.navigation {
  align-items: center;
  display: flex;
  font-size: 1.1rem;
  justify-content: space-between;
  list-style: none;
  padding-inline: 1.25rem;
  
  &__logo {
	color: $c-brand-darker;
	text-decoration: none;
  }

  &__icons > a {
	color: inherit;
	margin-left: 1.25em;
	text-decoration: none;
	transition: all 0.2s ease;

	&:hover {
	  color: $c-brand-lighter;
	}

	& ion-icon {
	  font-size: 1.5rem;
	}
  }
}

.header {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  color: $c-white;
  height: 100lvh;
  letter-spacing: 1.5px;
  mask-image: linear-gradient(to bottom, $c-black 80%, transparent 100%);
  overflow: hidden;
  padding: 25lvh 0;
  position: relative;
  text-align: center;

  &__headings {
	opacity: 0;
	transform: translateY(1em);
  }

  &__title {
	font-size: fluidTypography(2.4rem, 3.15rem);
	font-weight: 500;

	& > span { color: $c-brand-darker; }
  }

  &__subtitle {
	font-size: fluidTypography(0.75rem, 1rem);
	margin-bottom: 5rem;
	font-weight: 400;
  }

  &__caption {
	color: $c-brand-lighter;
	font-size: fluidTypography(0.65rem, 0.9rem);
  }
}

/// Styles for header.
// Hvězdy
.star-wrapper {
  background: linear-gradient(to bottom, #050403 0%, #131210 100%);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -3;

  .star-layer {
	background: transparent;
	height: 1px;
	position: absolute;
	width: 1px;

	&::after {
	  background: transparent;
	  content: " ";
	  height: 1px;
	  position: absolute;
	  top: 2000px;
	  width: 1px;
	}

	&--1 {
	  animation: stars-move 1000s linear infinite;
	  box-shadow: $shadows-small;

	  &::after { box-shadow: $shadows-small; }
	}

	&--2 {
	  animation: stars-move 500s linear infinite;
	  box-shadow: $shadows-medium;
	  height: 2px;
	  width: 2px;

	  &::after {
		box-shadow: $shadows-medium;
		height: 2px;
		width: 2px;
	  }
	}
  }
}

// Záře
.scene {
  z-index: -2;
}

.lights {
  display: flex;
  filter: blur(75px) brightness(55%);
  height: 100vmax;
  left: 50%;
  position: absolute;
  top: 20%;
  transform: translate(-20%, -55%) rotate(30deg);
  width: 200vmax;
  z-index: -2;
}

.light {
  $color-one: #015268;
  $color-two: #025385;
  $color-three: #038298;
  $up: calc(var(--y, 10) * 2vmax);
  $left: calc(var(--x, 2) * 2vmax);

  animation: aurora-shift calc(var(--duration, 2) * 1s) calc(var(--delay, 0) * -1s) infinite ease;
  background: linear-gradient(0deg, transparent, $color-one 10%, transparent, $color-two 40%, transparent, $color-three 60%) center bottom no-repeat;
  background-size: 100% 40vmax;
  flex: 1;
  transform: translate($left, $up) scale(1);
  z-index: -2;

  @media (width < 768px) {
	$up: calc(var(--y, 10) * 2vmax);
	$left: calc(var(--x, 2) * 2vmax);
  }
}

/// Styles for the shillset component.
.skillset {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;

  span {
	background-color: $c-gray--1;
	border: solid 1px $c-gray--2;
	border-radius: 3px;
	color: inherit;
	cursor: default;
	font-size: 0.80rem;
	font-weight: 400;
	padding: 0.4em 0.5em;
	transition: all .2s;

	&:hover {
	  border: solid 1px $c-brand-lighter;
	  transform: translateY(-2px);
	}
  }
}

/// Styles for the projects cards component. This component is located on the main page.
.projects {
  display: grid;
  grid-template-areas: "title title" "content content";
  grid-template-columns: 1fr;

  & h3 {
	grid-area: title;
	margin-bottom: 1.5em;
  }

  & .project-card {
	background: radial-gradient(circle, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.05) 100%);
	border: solid 1px $c-gray--2;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	padding: 1.5rem 1rem;
	transition: all .2s;

	&:hover {
	  border-color: $c-brand;
	  transform: translateY(-2px);
	}

	&__title {
	  color: $c-brand;
	  font-size: 1.2rem;
	  font-weight: 500;
	  margin-bottom: 0.3em;
	}

	&__stack {
	  color: rgba(255, 255, 255, 0.5);
	  font-size: 0.75rem;
	  margin-bottom: 1.5em;
	}

	&__description {
	  color: $c-gray--3;
	  font-size: 0.85rem;
	  margin-bottom: 2em;
	}

	&__link {
	  align-self: end;
	  color: $c-brand-white;
	  font-size: 0.7rem;
	  margin-right: 1em;
	}
  }

  @media screen and (width >= 650px) {
	grid-template-columns: 1fr 1fr;
  }
}

/// Styles for the specific project page.
.project {
  @include Content;

  &__title {
	color: $c-brand;
	font-size: 2rem;

	margin: 0 0 3rem 0;
  }

  &__stack {
	color: $c-brand-white;
	font-size: 0.85rem;
	margin-bottom: 3rem;
  }

  &__info {
	color: $c-gray--3;
	font-size: 0.85rem;

	& > a {
	  color: $c-brand;
	  font-weight: 500;
	  text-underline-offset: 3px;
	  transition: all 0.2s;

	  &:hover {
		text-underline-offset: 4px;
	  }
	}
  }

  &__description {
	color: $c-gray--3;
	font-size: 1rem;
	line-height: 1.4;
	margin-bottom: 3rem;
	max-width: 50rem;
  }
}

.label {
  color: $c-gray--2;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
}

.swiper {
  margin-block: 1rem 3rem;
  max-width: 600px;
  position: relative;
  width: 100%;

  & img {
	display: block;
	width: 100%;
  }

  & .swiper-button-prev, .swiper-button-next {
	color: $c-brand;

	&:after {
	  font-size: 1.5rem;

	  @media screen and (width >= 900px) {
		font-size: 2.5rem;
	  }
	}
  }
}

.aurora {
  height: 100%;
  left: 0;
  opacity: 70%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -3;

  &--red {
	& .light {
	  background: linear-gradient(0deg, transparent, $c-brand-darker 10%, transparent, $c-brand 40%, transparent, $c-brand-lighter 60%) center bottom no-repeat;
	}
  }
}

.input {
  background: $c-gray--1;
  border: solid 1px $c-gray--2;
  border-radius: 3px;
  color: $c-gray--3;
  font-size: 0.85rem;
  padding: 0.5rem 0.75rem;
  transition: all 0.2s;

  &::placeholder {
	color: $c-gray--2;
  }

  &:focus {
	border-color: $c-brand-lighter;
	outline: none;
  }
}


.contact {
  @include Content;

  & .input {
	margin-bottom: 1.5rem;

	&--big {
	  height: 15rem;
	  resize: none;
	}
  }

  & .buttons {
	align-self: end;

	& a {
	  color: $c-gray--3;
	  font-size: 0.85rem;
	  margin-right: 1.5rem;
	  text-underline-offset: 2px;
	  transition: all 0.2s;

	  &:hover {
		text-underline-offset: 3px;
	  }
	}

	& button[type="submit"] {
	  background: $c-brand;
	  border: solid 1px $c-brand;
	  border-radius: 3px;
	  color: $c-white;
	  cursor: pointer;
	  font-size: 0.85rem;
	  padding: 0.5rem 1rem;
	  transition: all 0.2s;
	  width: 7rem;

	  &:hover {
		border-color: $c-brand-lighter;
	  }

	  &:active {
		background: $c-brand-darker;
		border-color: $c-brand-darker;
	  }
	}
  }
}

.footer {
  @include paragraph-typography;
  margin-top: 10vh;

  & h4 {
	color: $c-brand;
	font-size: 1.25rem;
	margin: 0 13% 65px 13%;
  }

  & h5 {
	color: $c-brand-white;
	font-size: 1.2rem;
	font-weight: 700;
	margin-bottom: .5em;
  }

  & a {
	color: $c-white;
	font-weight: 500;
	text-underline-offset: 3px;
	transition: color 0.3s ease;

	&:hover { color: $c-brand; }
  }

  &__main-list {
	display: flex;
	font-weight: 500;
	justify-content: space-between;
	list-style: none;
	margin: 0 13% 15%;

	@media screen and (width <= 900px) {
	  flex-direction: column;

	  & > * { margin-bottom: 5em; }
	}
  }

  &__secondary-list {
	display: flex;
	flex-direction: column;
	font-weight: 400;
	list-style: none;

	& li {
	  margin-block: .3em;
	}
  }

  & > p {
	color: $c-brand-white;
	font-size: 0.9rem;
	padding-bottom: 50px;
	text-align: center;

	& ion-icon { color: $c-brand; }
  }
}
