.footer {
  @include paragraph-typography;
  margin-top: 10vh;

  & h4 {
    color: $c-brand;
    font-size: 1.25rem;
    margin: 0 13% 65px 13%;
  }

  & h5 {
    margin-bottom: .5em;
    font-size: 1.2rem;
    font-weight: 700;
    color: $c-brand-white;
  }
  
  & a {
    color: $c-white;
    transition: color 0.3s ease;
    font-weight: 500;
    text-underline-offset: 3px;

    &:hover { color: $c-brand; }
  }

  &__main-list {
    display: flex;
    justify-content: space-between;
    margin: 0 13% 15%;
    font-weight: 500;
    list-style: none;

    @media screen and (width <= 900px) {
      flex-direction: column;
      
      & > * { margin-bottom: 5em; }
    }
  }

  &__secondary-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-weight: 400;

    & li {
      margin-block: .3em;
    }
  }

  & > p {
    padding-bottom: 50px;
    font-size: 0.9rem;
    color: $c-brand-white;
    text-align: center;

    & ion-icon { color: $c-brand; }
  }
}