.header {
    margin-top: 25vh;
    text-align: center;
    padding-inline: 13%;

    &__title {
        @include header-common;

        font-size: 2.4rem;
        font-weight: 500;
        
        & > span {
            color: $c-brand-darker;
        }

        @media screen and (width >= 1000px) {
            font-size: 2.8rem;
        }
    }

    &__subtitle {
        @include header-common;

        margin-bottom: 5rem;
        font-size: 0.9rem;
        color: $c-white;

        @media screen and (width >= 1000px) {
            font-size: 1rem;
        }
    }

    &__caption {
        @include header-common;

        font-size: 0.9rem;
        color: $c-brand-light;

        @media screen and (width >= 1000px) {
            font-size: 1rem;
        }
    }
}

/*  .header__title {
    animation: slideFromTop 1s cubic-bezier(1, 0.045, 0.37, 0.95);
  }
  .header__subtitle,
  .header__caption {
    animation: slideFromBottom 1.3s cubic-bezier(1, 0.045, 0.37, 0.95) 1s
      backwards;
  } */