.header {
    margin: 25vh auto 20vw;
    text-align: center;
    padding-inline: 13%;

    &__title {
        @include header;
        
        font-size: fluidTypography(2.4rem, 3.2rem);
        font-weight: 500;

        & > span { color: $c-brand-darker; }
    }

    &__subtitle {
        @include header;

        margin-bottom: 5rem;
        font-size: fluidTypography(0.75rem, 1rem);
    }

    &__caption {
        @include header;

        font-size: fluidTypography(0.65rem, 0.9rem);
        color: $c-brand-lighter;
    }
}