.navigation {
	position: fixed;
	top: 0;
	z-index: 2;
	padding: 1.5em;
	color: $c-white;
	background-color: $c-black;
	box-shadow: 0 30px 20px $c-black;
	width: 100%;

	&__list {
		display: flex;
		list-style: none;
		place-content: center space-between;
		align-items: center;

		&__item {
			& .logo {
				color: #D70015;
			}
			
			& a {
				letter-spacing: 1.5px;
				color: $c-white;
				text-decoration: none;
				transition: all 0.2s ease;
			}

			& button {
				display: flex;
				font-size: 1.5em;
				color: inherit;
				cursor: pointer;
				background-color: transparent;
				border: none;
			}
			
			& * {
				transition: all 0.2s ease;
			}

			& > *:hover {
				color: $c-brand-lighter;
			}
		}
	}
}

.navigation-mobile {
	position: absolute;
	top: 90vh;
	overflow: hidden;
	font-size: 1.5rem;
	color: $c-white;
	text-align: right;
	list-style: none;
	transform: translate(-65%, -60%);
	padding: 0.2em 1.5em 0.2em 0.2em;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 25%;
		box-shadow: inset -11px 0 12px 3px $c-black;
		filter: blur(15px);
		z-index: 3;
	}

	&__item {
		margin: 0.5em 0;
		z-index: 2;

		& ion-icon {
			margin-right: 50%;
			transform: translateX(100%);
		}

		& > *:hover {
			color: $c-brand-lighter;
		}
	}
}

.active {
	color: $c-brand !important;
}

