.navbar {
  @include title-typography;

  font-size: 100%;

  &__logo,
  &__nav {
    .logo {
      letter-spacing: 2px;
    }

    a {
      color: inherit;
      text-decoration: none;

      &--gh {
        color: $c-white;

        &:hover {
          color: $c-brand-light;
          box-shadow: 10px 10px 5px 0 rgb(0 0 0 / 75%);
          transform: translateY(-2px);
        }
      }
    }

    &--link:hover {
      color: $c-brand-light;
      transform: translateY(-2px);
    }
  }
}
