.nf {
    text-align: center;
    display: flex;
    justify-content: center;
    height: 98vh;
    overflow: hidden;

    &__header {
        color: $c-brand-white;
        margin-top: 8em;
        
        & > span { color: $c-brand-darker; }
    }

    &__lottie {
        position: absolute;
        top: 45%;
        right: -4.5rem;
        height: 450px;
        width: 450px;
    }
}