body {
    position: relative;
    color: $c-gray--3;
}

#smooth-wrapper {
    transition: all 2s ease;
}

main {
    position: relative;
    display: flex;
    transition: filter 0.5s ease-in-out;
    flex-direction: column;
    max-width: 960px;
    padding-inline: 1.5rem;
    margin-inline: auto;

    article {
        margin: 2em 0.5em;

        h3 {
            margin-bottom: 0.85em;
            font-style: normal;
            font-weight: 600;
            letter-spacing: .5px;
            color: $c-brand;
            font-size: 1.5rem;
        }

        p {
            line-height: 1.8;
            font-size: 0.95rem;
        }
    }
}

.skillset {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;

    span {
        padding: 0.4em 0.5em;
        font-size: 0.80rem;
        font-weight: 400;
        color: inherit;
        background-color: $c-gray--1;
        border: solid 1px $c-gray--2;
        border-radius: 3px;
        transition: all .2s;
        cursor: default;
        
        &:hover {
            border: solid 1px $c-brand-lighter;
            transform: translateY(-2px);
        }
    }
}