@keyframes shift {
    50% {
        transform: translate(0, 0) scale(1);
    }
}

@keyframes flicker {
    0%, 50%, 100% {
        transform: scale(1);
    }
    25% {
        transform: scale(0);
    }
}

@keyframes stars-move {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5000px);
    }
}