/*
@keyframes glow-up {
  0%,
  50%,
  60%,
  100% {
    text-shadow: none;
  }

  25%,
  48%,
  52%,
  57%,
  62%,
  85% {
    text-shadow: #fff 0 0 5px, #fff 0 0 10px,
      2px 2px 2px rgb(206 89 55 / 0%);
  }
}
*/

@keyframes shift {
    50% {
        transform: translate(0, 0) scale(1);
    }
}

@keyframes flicker {
    0%, 50%, 100% {
        transform: scale(1);
    }
    25% {
        transform: scale(0);
    }
}