@mixin title-typography {
	font-family: 'Noto Sans Mono', monospace;
	font-weight: 400;
	font-size: 2.5rem;
	letter-spacing: 1.1px;
	color: $c-white;
	text-decoration: none;
}

@mixin header {
	color: $c-white;
	font-weight: 400;
	letter-spacing: 1.5px;
	z-index: 3;
}

@mixin paragraph-typography {
	font-family: 'Noto Sans Mono', monospace;
	font-weight: 400;
	font-size: 1rem;
	letter-spacing: 1.1px;
	color: $c-white;
	text-decoration: none;
}

@mixin Content {
  display: flex;
  flex-direction: column;
  padding: 8rem 5vw 5rem 5vw;
  max-width: 50rem;
  overflow: hidden;

  @media screen and (width >= 900px) {
	padding-top: 13rem;
	margin-inline: auto;
  }
}