@mixin title-typography {
	font-family: 'Noto Sans Mono', monospace;
	font-weight: 400;
	font-size: 2.5rem;
	letter-spacing: 1.1px;
	color: $color-primary;
	text-decoration: none;
}

@mixin header-common {
	color: $color-primary;
	font-weight: 400;
	letter-spacing: 1.5px;
}

@mixin paragraph-typography {
	font-family: 'Noto Sans Mono', monospace;
	font-weight: 400;
	font-size: 1rem;
	letter-spacing: 1.1px;
	color: $color-primary;
	text-decoration: none;
}

@mixin timeline-toint {
	position: absolute;
	transform: translateX(-19px);
	color: $color-primary;
	background-color: $color-secondary;
	font-size: 2.5rem;
	box-shadow: 0 0 5px 5px $color-secondary;
	border-radius: 50%;
}

@mixin section {
	position: relative;

	/*   margin: 0 25vw; */

	/*   min-height: 100vh;
    perspective: 900px;
    perspective-origin: 50% 50vh;
    height: 100%; */
}

@mixin navbar {
	display: inherit;
	align-items: center;
	justify-content: flex-end;
	z-index: 101;
}
