$c-white: #f5f3ff;
$c-black-light: #5e5956;
$c-brand: #6d28d9;
$c-brand-light: #c4b5fd;

$c-white: #F9DBBD;
$c-black: #131210;
$c-black-light: #FF453A;
$c-brand: #D70015;
$c-brand-light: #FF6961;

$c-white: #f5f3ff;
$c-black: #131210;
$c-gray: #5e5956;

$c-brand-white: #F9DBBD;
$c-brand-lighter: #FF6961;
$c-brand: #FF453A;
$c-brand-darker: #D70015;