$c-white: #E3E3E3;
$c-black: #131210;
$c-gray--1: #292724;
$c-gray--2: #5e5956;
$c-gray--3: #DDDCE2;
$c-brand-white: #F9DBBD;
$c-brand-lighter: #FF6961;
$c-brand: #FF453A;
$c-brand-darker: #D70015;

$hue-1: 147;
$hue-2: 291;
$hue-3: 141;
$alpha-1: 0.14624530650662304;
$alpha-2: 0.1511207302417027;
$alpha-3: 0.9812733645247064;

$shadows-small: multiple-box-shadow(300);
$shadows-medium: multiple-box-shadow(150);