.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;

  width: 100%;

  padding: 20px 45px;
  transition: all 0.5s ease-in-out;

  z-index: 101;

  &--bg {
    background-color: $color-secondary;
    z-index: 100;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    box-shadow: 0 30px 20px $color-secondary;
    -webkit-box-shadow: 0 30px 20px $color-secondary;
  }

  &__logo {
    font-size: 1.1rem;
    @include navbar;
  }
  &__nav {
    @include navbar;

    .logo {
      transition: all 0.2s ease;
    }

    &--link {
      margin: 0 20px;
      transition: all 0.2s ease;
      cursor: pointer;

      &--3 {
        margin-left: 35px;
      }
    }
  }

  &--active {
    color: $color-primary-button;
  }
}

.navbar__icon {
  display: flex;
  align-self: center;
  justify-self: center;
  font-size: 2rem;

  &--menu {
    display: none;
  }

  &:hover {
    .navbar__github--filler,
    .navbar__menu--filler {
      fill: $color-accent;
      transition: all 0.2s ease;
    }
  }
}

@media screen and (max-width: 750px) {
  .navbar__nav--link--hide-mobile {
    display: none;
  }
  .navbar__icon--menu {
    display: inline-block;
    width: 35px;
    height: auto;

    padding-top: 5px;
  }

  .logo {
    font-size: 1.3rem;
  }
}
