$color-primary: #f5f3ff;
$color-secondary: #131210;
$color-primary-button: #6d28d9;
$color-secondary-button: #ede9fe;
$color-accent: #c4b5fd;

$color-codeblock: #1c1917;
$color-codeblock-light: rgb(33, 29, 28);
$color-codeblock-text-inactive: rgb(94, 89, 86);
