*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: "Noto Sans Mono", monospace;
  font-optical-sizing: auto;
  font-size: 16px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-weight: 400;
}

body {
  background-color: $c-black;
  overflow-y: scroll;
}