/// Styles for the projects cards component. This component is located on the main page.
.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "title title" "content content";
  
  & h3 {
	grid-area: title;
	margin-bottom: 1.5em;
  }
  
  &__project {
	background: radial-gradient(circle, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.05) 100%);
	border: solid 1px $c-gray--2;
	border-radius: 3px;
	padding: 1.5rem 1rem;
	display: flex;
	flex-direction: column;
	transition: all .2s;

	&:hover {
	  transform: translateY(-2px);
	  border-color: $c-brand;
	}

	&__title {
	  color: $c-brand;
	  font-size: 1.2rem;
	  margin-bottom: 0.3em;
	}

	&__stack {
	  color: rgba(255, 255, 255, 0.5);
	  font-size: 0.75rem;
	  margin-bottom: 1.5em;
	}

	&__description {
	  color: $c-gray--3;
	  font-size: 0.85rem;
	  margin-bottom: 2em;
	}

	&__link {
	  color: $c-brand-white;
	  font-size: 0.7rem;
	  align-self: end;
	  margin-right: 1em;
	}
  }
  
  @media screen and (width >= 650px) {
	grid-template-columns: 1fr 1fr;
  }
}

/// Styles for the specific project page.
.project {
  display: flex;
  flex-direction: column;
  padding: 8rem 5vw 5rem 5vw;
  max-width: 50rem;
  overflow: hidden;
  
  @media screen and (width >= 900px) {
	padding-top: 13rem;
	margin-inline: auto;
  }
  
  &__title {
	color: $c-brand;
	font-size: 2.25rem;
	margin: 0 0 3rem 0;
  }
  
  &__stack {
	color: $c-brand-white;
	font-size: 0.85rem;
	margin-bottom: 3rem;
  }
  
  &__info {
	color: $c-gray--3;
	font-size: 0.85rem;
	
	& > a {
	  color: $c-brand;
	  font-weight: 500;
	  text-underline-offset: 3px;
	  transition: all 0.2s;
	  
	  &:hover {
		text-underline-offset: 4px;
	  }
	}
  }
  
  &__description {
	color: $c-gray--3;
	font-size: 1rem;
	margin-bottom: 3rem;
	line-height: 1.4;
	max-width: 50rem;
  }
  
  &__label {
	font-size: 0.85rem;
	color: $c-gray--2;
	margin-bottom: 0.5rem;
  }
}

.swiper {
  width: 100%;
  max-width: 600px;
  margin-block: 1rem 3rem;
  position: relative;
  
  & img {
	width: 100%;
	display: block;
  }
  
  & .swiper-button-prev, .swiper-button-next {
	color: $c-brand;
	
	&:after {
	  font-size: 1.5rem;

	  @media screen and (width >= 900px) {
		font-size: 2.5rem;
	  }
	}
  }
}

.aurora {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 85%;
  
  &--red {
	& .light {
	  background: linear-gradient(0deg, transparent, $c-brand-darker 10%, transparent, $c-brand 40%, transparent, $c-brand-lighter 60%) center bottom no-repeat;
	}
  }
}